header {
  .bg-body-tertiary {
    background-color: transparent !important;
  }
  .logo {
    width: 160px;
  }

  h1 {
    color: rgb(203, 88, 107);
    font-size: 65px;
    font-weight: 900;
  }

  .navbar {
    a {
      color: #db7093;
      font-weight: 600;
      font-size: 1.3rem;
    }
  }
}
@media (max-width: 1500px) {
  .navbar {
    display: flex;
  }
}
