* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .titulo {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
  }
}
